 <div class="row">
    <div class="col-md-12" ng-show="instructors.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-instructor/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Instructor</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Instructor Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>City&nbsp;</th>
        <th>Country&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in instructors">
                <td>{{data.instructorName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.city}}</td>
                <td>{{data.country}}</td>
                <td><a href="#/edit-instructor/{{data.instructorNumber}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Instructor</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="instructors.length == 0">
        <div class="col-md-12">
            <h4>No instructors found</h4>
        </div>
    </div>
</div>
